div{
  margin-bottom: 2%;
}

.choice-container {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid  rgb(131, 214, 247);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color:  rgb(131, 214, 247);
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #7feb83;
}

.incorrect {
  background-color:rgb(247, 131, 131);
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid rgb(131, 214, 247);
  margin-top: 1.5rem;

}

#progressBarFull {
  height: 3.4rem;
  background-color: rgb(131, 214, 247);
  width: 0%;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid rgb(131, 214, 247);
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
