div{
    margin-left: 0%;
    text-align: center;
}

.score {
    text-shadow: 2px 2px 5px rgb(81,195,50);
    text-align: center;
    font-size: 150%;
    visibility: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
}

.rateButtonEven {
    outline:none;  
    background-color: #008CBA;
    border-radius: 50%;
    padding: 14px 40px;
    display: inline;
    width: 17%;
    margin: 1%;
    height: 9.5vh;
    transition-duration: 0.4s;
}

.rateButtonOdd {
    outline:none;  
    background-color: #3bba00;
    border-radius: 50%;
    padding: 14px 40px;
    display: inline;
    width: 17%;
    margin: 1%;
    height: 9.5vh;
    transition-duration: 0.4s;
}

.rateButtonEven:hover, .rateButtonOdd:hover {
    background-color:#f44336 !important;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.rateButtonEven:active, .rateButtonOdd:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.questions {
    display: block;
    width: 100%;
    margin: 1%;
    height: 10.5vh;
    border-bottom-style: outset;
    border-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
  }

